/* ROOT SECTION */

:root {
  font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  margin: 0;
  grid-auto-flow: row !important;
  grid-auto-rows: auto !important;
}

input,
button {
  font-family: Georgia, "Times New Roman", Times, serif;
}

h4 {
  font-weight: 100;
  text-decoration: underline;
  text-decoration-color: rgb(145, 171, 90);
  text-decoration-thickness: 5px;
  text-align: center;
}

a {
  text-decoration: none;
}

/* TOPBAR SECTION*/

.topBar {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  align-content: center;
  text-align: center;
  .pageLinks {
    a {
      margin: 2px 10px;
    }
  }
  .socialLinks {
    img {
      width: 1.75em;
      margin: 2px 5px;
    }
  }
}
/* NAVBAR SECTION */

nav {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  max-width: 1290px;
}
.bestofveganlogo {
  width: 15em;
  height: auto;
  object-fit: contain;
}
.searchIcon {
  height: 2em;
  width: 2em;
}

ul {
  margin: 0 auto;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  li {
    padding: 0.5em 1.5em;
  }
}

li,
.searchIcon {
  margin: 1%;
  vertical-align: middle;
}

.menuIcon {
  display: none;
}

@media (max-width: 1024px) {
  .topBar {
    display: none;
  }

  nav {
    display: grid;
    grid-template-columns: 8fr 1fr 1fr;
    grid-auto-rows: 0;
    padding: 2em;
    justify-content: center;
    justify-items: start;
    align-items: center;
    padding: 3em 1em;
  }
  .searchIcon {
    grid-column: 2 / 3;
    justify-self: self-end;
    width: 1.5em;
  }
  .menuIcon {
    display: inline;
    grid-column: 3 / 4;
    justify-self: self-end;
    width: 1.5em;
  }

  .menu {
    display: none;
  }
}

/* HERO SECTION */

section.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  padding: 1em 0;
  margin: 0 auto;
  max-width: 1290px;
  background-color: rgb(245, 245, 245);
}

.heroText {
  margin: 1em 1em;
  h1 {
    font-size: 5em;
  }
  h6 {
    font-size: 1.5em;
  }
  p {
    font-size: 1em;
  }
}

.mealsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.meal {
  position: relative;
  margin: 0.5em;
  text-align: center;
  display: flex;
  flex-direction: column;
  a {
    text-decoration: none;
  }
  img {
    width: 100%;
    height: 100%;
    aspect-ratio: 3/4;
    object-fit: cover;
  }
  div {
    position: absolute;
    bottom: 0em;
    left: 10%;
    width: 80%;
    border-radius: 5px 5px 0 0;
    color: rgb(146, 172, 91);
    text-align: center;
    font-size: large;
    background-color: white;
    z-index: 10;
    p {
      padding: 0.5em;
      margin: 0;
    }
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  section.hero {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;

    .meal img {
      aspect-ratio: 4 / 3;
    }
  }
}

@media (max-width: 768px) {
  section.hero {
    grid-template-columns: 1fr;
    text-align: center;
    .mealsContainer {
      grid-template-columns: 1fr 1fr;
      .meal img {
        aspect-ratio: 4 / 3;
      }
    }
  }
}

/* CALL FOR ACTION SECTION */

section.callForAction {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 2em 1em 3em;
  text-align: center;
  h2 {
    font-size: 2em;
    margin: 1em auto 1.5em;
  }
}

.callForAction form {
  font-size: 1.5em;
  margin: 0 auto;
  width: 100%;
  input {
    width: 16em;
  }
  input,
  button {
    padding: 1em;
    border-radius: 5px;
  }

  button {
    width: 10em;
    background-color: rgb(192, 218, 134);
  }
  button:hover {
    background-color: rgb(146, 172, 91);
  }
}

@media (max-width: 768px) {
  section.callForAction {
    form {
      display: flex;
      flex-wrap: wrap;
      box-sizing: border-box;
      input,
      button {
        flex-grow: 1;
      }
    }
  }
}

/* BROWSE SECTION */

section.browse {
  text-align: center;
  h2 {
    font-size: xx-large;
    color: rgb(145, 171, 90);
  }
}

.browse .mealContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: rgb(236, 236, 236);
  margin: auto;
  padding: 2em 2em 2em;
  gap: 1em;
}

.browse .mealContainer .meal {
  width: 4.5em;
  img {
    background-color: rgb(255, 255, 255);
    height: 4.5em;
    width: 100%;
    border-radius: 5px;
  }
  p {
    font-size: x-small;
  }
}

/* LATEST MEALS SECTION */

section.latest {
  background-color: rgb(245, 245, 245);
  padding: 3em;
  position: relative;

  h2 {
    text-align: left;
    display: inline-block;
    color: rgb(145, 171, 90);
    font-size: xx-large;
    background-color: rgb(255, 255, 255);
    margin: 0 1em;
    padding: 0 1em;
    img {
      width: 0.5em;
      height: 1em;
      margin: 0em 0.5em 0 0;
      padding: 0;
    }
  }
  img {
    height: 10em;
    width: 8em;
  }

  h4 {
    position: absolute;
    top: 2em;
    right: 4em;
  }
}

.latestMealsContainer {
  font-weight: bold;
  text-align: center;
  background-color: rgb(255, 255, 255);
  text-align: center;
  text-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-content: center;
  padding: 1em;
}

.latestMeal {
  img {
    min-width: 100%;
    width: 100%;
    min-height: 20em;
    object-fit: cover;
  }
  p {
    font-size: x-large;
    color: rgb(146, 172, 91);
  }
}

@media (max-width: 768px) {
  .latestMealsContainer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .latest h4 {
    position: static !important;
  }
}

/* RECIPE SEARCH SECTION */

section.recipeSearch {
  background-color: rgb(168, 173, 155);
  text-align: center;
  padding: 2em;
}

.recipeSearch {
  h4 {
    color: rgb(68, 73, 57);
    font-weight: lighter;
  }
  h2 {
    color: rgb(255, 255, 255);
    font-size: x-large;
  }
  p {
    font-size: large;
    color: rgb(68, 73, 57);
  }
  article {
    background-color: rgb(209, 211, 201);
    border-radius: 10px;
    font-size: large;
    color: rgb(68, 73, 57);
    font-family: Georgia, "Times New Roman", Times, serif;
    word-spacing: normal;
    line-height: 2em;
    padding: 1em;
    margin: 0 auto;
    max-width: 1250px;
  }
  form {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 2em 0;
    max-width: 1290px;
  }

  input {
    flex: 1 1;
    padding: 1.5em;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(68, 73, 57);
    border-radius: 10px 0px 0px 10px;
    font-size: 1em;
  }

  button {
    img {
      width: 1.5em;
      height: 1.5em;
    }
    background-color: rgb(209, 211, 201);
    color: white;
    border: 1px solid rgb(68, 73, 57);
    border-left: 0;
    border-radius: 0px 10px 10px 0px;
    padding: 1.65em 4em;
    cursor: pointer;
  }
}

/* BREAKFAST IDEAS SECTION */

section.breakfastIdeas {
  padding: 2em;
  position: relative;
  h2 {
    display: inline-block;
    background-color: rgb(245, 245, 245);
    color: rgb(145, 171, 90);
    font-size: xx-large;
    padding: 0 2em 0;
    margin: 0 auto;
    img {
      width: 0.5em;
      height: 1em;
      margin: 0em 0.5em 0 0;
      padding: 0;
    }
  }
  h4 {
    position: absolute;
    top: 1.5em;
    right: 16em;
  }
}

.breakfastIdeasContainer {
  background-color: rgb(245, 245, 245);
  font-weight: bold;
  text-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;
  margin: 0;
  padding: 1em;
}

.breakfastIdea {
  margin: 1em 0.5em;
  img {
    width: 100%;
    height: auto;
    aspect-ratio: 3 / 4;
    object-fit: cover;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  section.breakfastIdeas {
    h4 {
      position: static !important;
    }
  }
  .breakfastIdeasContainer {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  section.breakfastIdeas {
    h4 {
      position: static !important;
    }
  }
  .breakfastIdeasContainer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}

/* WELCOME SECTION */

section.welcomeMsg {
  background-color: rgb(0, 0, 0);
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-auto-rows: 0;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 1em;
}

.welcomeImageContainer {
  grid-area: 1 / 2 / 9 / 6;
  margin: 1em;
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.textContent {
  grid-area: 2/ 5 / 6/ 8;
  text-align: center;
  background-color: rgb(245, 245, 245);
  color: rgb(68, 73, 57);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: large;
  line-height: 2;
  padding: 1em;
  height: 100%;
  margin: 1em;
  h2 {
    font-size: xx-large;
  }
  p {
    font-size: large;
  }
  button {
    border: none;
    font-size: medium;
    padding: 1em;
    background-color: rgb(145, 171, 90);
  }
}

@media (max-width: 768px) {
  section.welcomeMsg {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
  }

  .textContent {
    grid-area: 1 / 1 / 5 / 2;
  }
  .welcomeImageContainer {
    grid-area: 1 / 1 / 9 / 2;
  }
}

/* CULTURE TUESDAY SECTION  */

section.cultureTuesday {
  background-color: rgb(236, 236, 236);
  padding: 1em 10em;
  position: relative;
  h2 {
    display: inline-block;
    font-size: xx-large;
    color: rgb(145, 171, 90);
    background-color: rgb(255, 255, 255);
    margin: 1em 0.5em 0;
    padding: 0 0.5em;
    img {
      width: 0.5em;
      height: 1em;
      margin: 0em 0.5em 0 0;
      padding: 0;
    }
  }
  h4 {
    position: absolute;
    top: 1.5em;
    right: 10em;
  }
}

.cultureTuesdayContainer {
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1em;
  padding: 1em;
}

.cultureTuesdayItem {
  background-color: rgb(236, 236, 236);
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
  align-items: center;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  p {
    margin: auto 1em;
    font-weight: bold;
    font-size: 1.3em;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  section.cultureTuesday {
    padding: 1em;
    h4 {
      position: static !important;
    }
  }
  .cultureTuesdayContainer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
}

@media (max-width: 768px) {
  section.cultureTuesday {
    padding: 1em;
    h4 {
      position: static !important;
    }
  }
  .cultureTuesdayContainer {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
  }
}

/* SHOPPING */

section.shopping {
  text-align: center;
  padding: 1em;
  max-width: 1290px;
  h2 {
    font-size: xx-large;
    color: rgb(145, 171, 90);
  }
  .shoppingSubTitle {
    font-size: large;
  }
}

.shoppingItemsContainer {
  background-color: rgb(236, 236, 236);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  padding: 1em;
}

.shoppingItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1em 0;
  margin: 0 1em;
  img {
    width: 100%;
    height: 20em;
    object-fit: cover;
  }
  p {
    font-weight: bold;
    font-size: large;
    color: rgb(145, 171, 90);
  }
  button {
    font-size: large;
    background-color: rgb(255, 255, 255);
    padding: 0.75em 1em;
    border-radius: 5px;
  }
}

.kitchenToolsButton {
  margin: 1em;
  padding: 1em;
  border: none;
  border-radius: 5px;
  background-color: rgb(192, 218, 134);
}

@media (max-width: 1024px) {
  .shoppingItemsContainer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

/* DESSERTS SECTION */

section.desserts {
  background-color: rgb(168, 173, 155);
  padding: 2em 8em;
  position: relative;
  h2 {
    padding: 0 0.5em;
    display: inline-block;
    font-size: xx-large;
    color: rgb(145, 171, 90);
    background-color: rgb(255, 255, 255);
    margin: 0em 1em 0;
    img {
      width: 0.5em;
      height: 1em;
      margin: 0em 0.5em 0 0;
      padding: 0;
    }
  }
  h4 {
    position: absolute;
    top: 1.5em;
    right: 8em;
  }
}

.dessertsContainer {
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1em;
  padding: 1em 1em;
}

.dessert {
  background-color: rgb(236, 236, 236);
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: left;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  p {
    padding: 0.5em;
    color: rgb(146, 172, 91);
    font-weight: bold;
    font-size: large;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  section.desserts {
    padding: 1em;
    h4 {
      position: static !important;
    }
  }
  .dessertsContainer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  section.desserts {
    padding: 1em;
    h4 {
      position: static !important;
    }
  }
  .dessertsContainer {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }
}

/* COOKBOOK SECTION */

section.cookbook {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 1em;
  max-width: 1290px;
}

.cookbookContainer {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-auto-rows: 0;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 0;
}

.cookbookImageContainer {
  background-color: rgb(168, 173, 155);
  grid-area: 1 / 4 / 7 / 9;
  img {
    width: 50%;
    height: auto;
    padding: 10em 2em 10em;
    margin-left: 2em;
    object-fit: cover;
  }
}

.aboutCookbook {
  grid-area: 2 / 1 / 6 / 5;
  text-align: center;
  background-color: rgb(245, 245, 245);
  color: rgb(68, 73, 57);
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: left;
  font-size: x-large;
  line-height: 2;
  padding: 1em;
  h2 {
    color: rgb(145, 171, 90);
  }
  p {
    font-size: large;
  }
  button {
    margin: 1em;
    padding: 1em;
    border: none;
    border-radius: 5px;
    background-color: rgb(192, 218, 134);
  }
}

@media (max-width: 768px) {
  .cookbookContainer {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    gap: 0;
  }
  .cookbookImageContainer {
    grid-area: 1 / 1 / 4 / 2;
  }
  .aboutCookbook {
    grid-area: 2 / 1 / 7 / 2;
  }
}

/* RESTAURANTS SECTION */

section.restaurants {
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 1em;
  position: relative;
  h2 {
    text-align: left;
    margin: 1em 1em 0;
    padding: 0 0.5em;
    display: inline-block;
    font-size: xx-large;
    color: rgb(145, 171, 90);
    background-color: rgb(245, 245, 245);
    img {
      width: 0.5em;
      height: 1em;
      margin: 0em 0.5em 0 0;
      padding: 0;
    }
  }
  h4 {
    position: absolute;
    top: 2em;
    right: 4em;
  }
}

.restaurantsContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 1em;
  background-color: rgb(245, 245, 245);
  margin: 0 1em 1em;
}

.restaurant {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0.75em;

  img {
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    object-fit: cover;
  }
  p {
    font-size: x-large;
  }
}

@media (max-width: 768px) {
  section.restaurants {
    h4 {
      position: static !important;
    }
  }

  .restaurantsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

/* TESTIMONIALS SECTION */

section.testimonials {
  background-color: rgb(236, 236, 236);
  h2 {
    font-size: xxx-large;
    color: rgb(145, 171, 90);
    text-align: center;
    padding: 1rem;
    margin: 1em 1em 0;
  }
}

.testimonialsContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  column-gap: 1em;
  max-width: 1290px;
  padding: 6em;
}

.testimonial {
  position: relative;
  background-color: rgb(255, 255, 255);
  margin-top: 4.5em;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px 10px 0 0;
  height: 100%;
  padding: 1em;
  .imgContainer {
    position: absolute;
    top: -1.5em;
    left: 5.5em;
    width: 15%;
    padding: 5%;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
  }
  img {
    background-color: rgb(0, 0, 0);
  }
  .review {
    margin-bottom: 2em;
    line-height: 2;
    font-size: x-large;
  }
  .reviewer {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    margin-bottom: 2em;
  }

  button {
    background: none;
    border: 1px solid rgb(146, 172, 91);
    color: rgb(145, 171, 90);
    padding: 1em;
    border-radius: 5px;
  }
}

.testimonial.odd {
  background-color: rgb(245, 245, 245);
  margin-top: 1em;
}

@media (max-width: 768px) {
  .testimonialsContainer {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    gap: 3em;
    width: 90%;
    padding: 2em;
  }

  .testimonial {
    margin: 1em 0;
    .imgContainer {
      width: 2em;
      padding: 1em;
      left: 45%;
    }
    .review {
      margin: 1em 0;
    }
    .reviewer {
      margin: 0 0 1em;
    }
  }
}

/* FOOTER SECTION */

footer {
  padding: 2em;
  text-align: center;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  img {
    height: auto;
    width: 25em;
  }
}
.logos img {
  width: 10em;
}

.aboutUs {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 2em;
  padding: 1em;
  text-align: left;
  .whoWeAre p {
    color: rgb(255, 255, 255);
    line-height: 2;
  }
}
.aboutUs div {
  h2 {
    font-size: xx-large;
  }
}
.aboutUs h5 {
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.aboutUs p {
  img {
    width: 0.9em;
    margin-right: 0.2em;
  }
  font-size: 0.9em;
  color: rgb(145, 171, 90);
}

.aboutUs p,
.aboutUs img {
  vertical-align: middle;
}

.socialLinks {
  img {
    width: 2em;
    margin: 0.5em;
  }
}

@media (max-width: 768px) {
  .aboutUs {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 0;
  }
}
