/* ROOT SECTION */

:root {
  font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  margin: 0;
}

input,
button {
  font-family: Georgia, "Times New Roman", Times, serif;
}

h4 {
  font-weight: 100;
  text-decoration: underline;
  text-decoration-color: rgb(145, 171, 90);
  text-decoration-thickness: 5px;
  text-align: center;
}
/* NAVBAR SECTION */

nav {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em 8em;
}
.bestofveganlogo {
  width: 15em;
  height: auto;
  object-fit: contain;
}
.searchIcon {
  height: 1em;
  width: 1em;
  background-color: #fff;
}

ul {
  margin: 0 auto;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li,
.searchIcon {
  margin: 1%;
  vertical-align: middle;
}

/* HERO SECTION */

section.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em 8em;
}

.heroText {
  margin: 1em 4em;
  h1 {
    font-size: 4em;
  }
  h6 {
    font-size: 1.5em;
  }
  p {
    font-size: 1em;
  }
}

.mealsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.meal {
  position: relative;
  margin: 0.5em;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 12em;
  a {
    text-decoration: none;
  }
  img {
    width: 100%;
    height: 15em;
    object-fit: cover;
  }
  div {
    position: absolute;
    bottom: 0em;
    left: 10%;
    width: 80%;
    border-radius: 5px 5px 0 0;
    color: rgb(146, 172, 91);
    text-align: center;
    font-size: large;
    background-color: white;
    z-index: 10;
    p {
      padding: 0.5em;
      margin: 0;
    }
  }
}

/* CALL FOR ACTION SECTION */

section.callForAction {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 2em 1em 3em;
  text-align: center;
  h2 {
    font-size: 2em;
    margin: 1em auto 1.5em;
  }
}

.callForAction form {
  font-size: 1.5em;
  margin: 0 auto;
  width: 100%;
  input {
    width: 16em;
  }
  input,
  button {
    padding: 1em;
    border-radius: 5px;
  }

  button {
    width: 10em;
    background-color: rgb(192, 218, 134);
  }
  button:hover {
    background-color: rgb(146, 172, 91);
  }
}

/* BROWSE SECTION */

section.browse {
  text-align: center;
  h2 {
    color: rgb(145, 171, 90);
  }
}

.browse .mealContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: rgb(236, 236, 236);
  margin: auto;
  padding: 2em 2em 2em;
  gap: 1em;
}

.browse .mealContainer .meal {
  width: 4.5em;
  img {
    background-color: rgb(255, 255, 255);
    height: 4.5em;
    width: 100%;
    border-radius: 5px;
  }
  p {
    font-size: x-small;
  }
}

/* LATEST MEALS SECTION */

section.latest {
  background-color: rgb(245, 245, 245);
  padding: 3em;

  h2 {
    text-align: left;
    display: inline-block;
    color: rgb(145, 171, 90);
    font-size: xx-large;
    background-color: rgb(255, 255, 255);
    margin: 0 1em;
    padding: 0 1em;
    img {
      width: 0.5em;
      height: 1em;
      margin: 0em 0.5em 0 0;
      padding: 0;
    }
  }
  img {
    height: 10em;
    width: 8em;
  }
}

.latestMealsContainer {
  font-weight: bold;
  text-align: center;
  background-color: rgb(255, 255, 255);
  text-align: center;
  text-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-content: center;
  padding: 1em;
}

.latestMeal {
  img {
    min-width: 100%;
    width: 100%;
    min-height: 20em;
    object-fit: cover;
  }
  p {
    font-size: x-large;
    color: rgb(146, 172, 91);
  }
}

/* RECIPE SEARCH SECTION */

section.recipeSearch {
  background-color: rgb(168, 173, 155);
  text-align: center;
  padding: 2em 26em;
}

.recipeSearch {
  h4 {
    color: rgb(68, 73, 57);
    font-weight: lighter;
  }
  h2 {
    color: rgb(255, 255, 255);
    font-size: x-large;
  }
  p {
    font-size: large;
    color: rgb(68, 73, 57);
  }
  article {
    background-color: rgb(209, 211, 201);
    border-radius: 10px;
    font-size: large;
    color: rgb(68, 73, 57);
    font-family: Georgia, "Times New Roman", Times, serif;
    word-spacing: normal;
    line-height: 2em;
    padding: 1em;
    margin: 1em 3em;
  }
  form {
    display: flex;
    align-items: center;
    max-width: 100%;
    margin: 0 4em;
    padding: 2em 0;
  }

  input {
    flex-grow: 1;
    padding: 1.5em;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(68, 73, 57);
    border-radius: 10px 0px 0px 10px;
    font-size: 16px;
  }

  button {
    img {
      width: 1.5em;
      height: 1.5em;
    }
    background-color: rgb(209, 211, 201);
    color: white;
    border: 1px solid rgb(68, 73, 57);
    border-left: 0;
    border-radius: 0px 10px 10px 0px;
    padding: 1.65em 4em;
    cursor: pointer;
  }
}

/* BREAKFAST IDEAS SECTION */

section.breakfastIdeas {
  padding: 2em 16em;
  h2 {
    display: inline-block;
    background-color: rgb(245, 245, 245);
    color: rgb(145, 171, 90);
    font-size: xx-large;
    padding: 0 2em 0;
    margin: 0 auto;
    img {
      width: 0.5em;
      height: 1em;
      margin: 0em 0.5em 0 0;
      padding: 0;
    }
  }
}

.breakfastIdeasContainer {
  background-color: rgb(245, 245, 245);
  font-weight: bold;
  text-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;
  margin: 0;
  padding: 1em;
}

.breakfastIdea {
  margin: 1em 0.5em;
  img {
    width: 100%;
    height: 10em;
    object-fit: cover;
  }
}

/* WELCOME SECTION */

section.welcomeMsg {
  background-color: rgb(0, 0, 0);
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-auto-rows: 0;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 1em;
}

.welcomeImageContainer {
  grid-area: 1 / 2 / 9 / 6;
  img {
    width: 100%;
    height: 50em;
    object-fit: cover;
  }
}

.textContent {
  grid-area: 2/ 5 / 6/ 8;
  text-align: center;
  background-color: rgb(245, 245, 245);
  color: rgb(68, 73, 57);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: large;
  line-height: 2;
  padding: 1em;
  h2 {
    font-size: xx-large;
  }
  p {
    font-size: large;
  }
  button {
    border: none;
    font-size: medium;
    padding: 1em;
    background-color: rgb(145, 171, 90);
  }
}

/* CULTURE TUESDAY SECTION  */

section.cultureTuesday {
  background-color: rgb(236, 236, 236);
  padding: 1em 10em;
  h2 {
    display: inline-block;
    font-size: large;
    color: rgb(145, 171, 90);
    background-color: rgb(255, 255, 255);
    margin: 1em 0.5em 0;
    padding: 0 0.5em;
    img {
      width: 0.5em;
      height: 1em;
      margin: 0em 0.5em 0 0;
      padding: 0;
    }
  }
}

.cultureTuesdayContainer {
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1em;
  padding: 1em;
}

.cultureTuesdayItem {
  background-color: rgb(236, 236, 236);
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
  align-items: center;
  img {
    width: 8em;
    height: 8em;
    object-fit: cover;
  }
  p {
    margin: auto 1em;
    font-weight: bold;
    font-size: 1.3em;
  }
}

/* SHOPPING */

section.shopping {
  text-align: center;
  padding: 1em 16em;
  h2 {
    font-size: xx-large;
    color: rgb(145, 171, 90);
  }
  .shoppingSubTitle {
    font-size: large;
  }
}

.shoppingItemsContainer {
  background-color: rgb(236, 236, 236);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  padding: 1em;
}

.shoppingItem {
  grid-row: 1 span 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1em 0;
  margin: 0 1em;
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  p {
    font-weight: bold;
    font-size: large;
    color: rgb(145, 171, 90);
  }
  button {
    font-size: large;
    background-color: rgb(255, 255, 255);
    padding: 0.75em 1em;
    border-radius: 5px;
  }
}

.kitchenToolsButton {
  margin: 1em;
  padding: 1em;
  border: none;
  border-radius: 5px;
  background-color: rgb(192, 218, 134);
}

/* DESSERTS SECTION */

section.desserts {
  background-color: rgb(168, 173, 155);
  padding: 1em;
  h2 {
    font-size: xx-large;
    color: rgb(145, 171, 90);
    background-color: rgb(255, 255, 255);
    margin: 1em 1em 0;
  }
}

.dessertsContainer {
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1em;
  padding: 1em 12em;
}

.dessert {
  background-color: rgb(236, 236, 236);
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: left;
  img {
    width: 10em;
    height: 16em;
    object-fit: cover;
  }
  p {
    padding: 0.5em;
    color: rgb(146, 172, 91);
    font-weight: bold;
    font-size: large;
  }
}

/* COOKBOOK SECTION */

section.cookbook {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 1em;
}

.cookbookContainer {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-auto-rows: 0;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 2em 2em;
}

.cookbookImageContainer {
  background-color: rgb(168, 173, 155);
  grid-area: 1 / 5 / 7 / 9;
  img {
    width: 40%;
    height: auto;
    padding: 20em 2em 20em;
    margin-left: 2em;
    object-fit: cover;
  }
}

.aboutCookbook {
  grid-area: 2 / 1 / 6 / 6;
  text-align: center;
  background-color: rgb(245, 245, 245);
  color: rgb(68, 73, 57);
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: left;
  font-size: x-large;
  line-height: 2;
  padding: 1em;
  h2 {
    color: rgb(145, 171, 90);
  }
  p {
    font-size: large;
  }
  button {
    margin: 1em;
    padding: 1em;
    border: none;
    border-radius: 5px;
    background-color: rgb(192, 218, 134);
  }
}

/* RESTAURANTS SECTION */

section.restaurants {
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 1em;
  h2 {
    text-align: left;
    margin: 1em 1em 0;
    padding: 0.5em 0.5em 0;
    display: inline-block;
    font-size: xx-large;
    color: rgb(145, 171, 90);
    background-color: rgb(245, 245, 245);
  }
}

.restaurantsContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 1em;
  background-color: rgb(245, 245, 245);
  margin: 0 1em 1em;
}

.restaurant {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0.75em;
  width: 13em;
  img {
    width: 100%;
    height: 13em;
    object-fit: cover;
  }
  p {
    font-size: x-large;
  }
}

/* TESTIMONIALS SECTION */

section.testimonials {
  background-color: rgb(236, 236, 236);
  h2 {
    font-size: xx-large;
    color: rgb(145, 171, 90);
    text-align: center;
    padding: 1rem;
    margin: 1em 1em 0;
  }
}

.testimonialsContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.testimonial {
  background-color: rgb(255, 255, 255);
  margin: 1em 0.5em 2em;
  margin-top: 3.5em;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px 10px 0 0;
  width: 8em;
  height: 20em;
  padding: 1em;
  font-family: Georgia, "Times New Roman", Times, serif;
  .review {
    margin-bottom: 2em;
  }
  .reviewer {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    margin-bottom: 2em;
  }

  button {
    background: none;
    border: 1px solid rgb(146, 172, 91);
    color: rgb(145, 171, 90);
    padding: 1em;
    border-radius: 5px;
  }
}

.testimonial.odd {
  background-color: rgb(245, 245, 245);
  margin-top: 1em;
}

/* FOOTER SECTION */

footer {
  padding: 2em;
  text-align: center;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  img {
    height: auto;
    width: 25em;
  }
}
.logos img {
  width: 10em;
}

.aboutUs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1em;
  text-align: left;
  .whoWeAre p {
    color: rgb(255, 255, 255);
    line-height: 2;
  }
}
.aboutUs div {
  h2 {
    font-size: xx-large;
  }
}
.aboutUs h5 {
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.aboutUs p {
  font-size: 0.9em;
  color: rgb(145, 171, 90);
}
