body {
    font-family: "Roboto", serif;
    margin: 0;
    background-color: rgb(44, 47, 68);
}

main {
    padding: 2em 1em;
}

header {
    background-color: rgb(58, 61, 88);
    color: rgb(255, 255, 255);
    padding: 2em 1em 0.5em 1em
}

a {
    text-decoration: underline;
    color: white;
}

img {
    width: 1.5em;
    margin-right: 0.5em;
}

form {
    margin: 0 auto;
    color: white;
}

label {
    display: block;
    margin: 1em auto 0;

}

input {
    width: 100%;
    padding: 1em;
    margin-bottom: 1.5em;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(58, 61, 88);
}

button {
    font-family: "Roboto", serif;
    display: block;
    width: 100%;
    border: none;
}

header img,
button img {
    vertical-align: middle;
}

.passwordChecks {
    p {
        margin: 0.5em auto;

        span,
        img {
            vertical-align: middle;
        }
    }
}

.loginBtn,
.signUpBtn {
    background-color: rgb(150, 159, 207);
    border-radius: 50px;
    padding: 1em;
    margin-top: 1em;
    font-size: 1em;
    color: rgb(255, 255, 255);
}

.resetPasswordBtn {
    background-color: rgb(92, 77, 253);
    border-radius: 50px;
    color: rgb(255, 255, 255);
    padding: 1em;
    font-size: 1em;
}

.divider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;

    hr {
        width: 45%;
    }
}

.altLoginOptions {
    display: flex;
    flex-direction: column;

    button {
        padding: 1em;
        margin: 1em auto;
        background-color: rgb(58, 61, 88);
        color: rgb(255, 255, 255);
        text-align: left;
    }

    .enterpriseBtn {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
}

.altAccessOptions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;

    .signUpPrompt {

        span,
        a,
        img {
            vertical-align: middle;
        }

        a {
            color: rgb(0, 255, 157);
        }

    }
}

/* Reset Password Page / Create Account Page  */

.passwordContainer {
    position: relative;

    #exclamationIcon {
        position: absolute;
        top: 15%;
        right: 0px;
    }

    #passwordToggler {
        position: absolute;
        top: 15%;
        right: 30px;
    }

    .hidden {
        visibility: hidden;
    }
}

@media screen and (min-width: 480px) {
    body {
     display: flex;
    }
    header{
        height: 100vh;
        text-align: center;
    }
    h1{
        margin-top: 35vh;
    }
  }